div {
  font-size: 70px;
}

/* 
점수가 같으면 더 나중의 코드가 해석돼서 화면에 적용된다. 

.hello {
  color: pink;
}
.hello {
  color: gold;
} 

이 때 화면에 출력되는 색상은 골드
*/

/* ------------------------------------------- */

/* 

코드 순서와 상관없이 점수가 높은 선택자가 적용된다.

.hello {
  color: gold;
}


#hello {
  color: palegreen;
}

*/

/* ------------------------------------------- */

/* 별도의 띄워쓰기 없이 태그 선택자와 클래스 선택자가 붙어서 나왔으니까
일치 선택자. 태그는 1점 클래스는 10점 그래서 11점 짜리 잁치선택자가 되어
10점짜리 클래스 선택자보다 우선한다.

.hello {
  color: pink;
}

div.hello {
  color: brown;
} */

c

/* !important의 점수는 무한대급이다. 자주 사용은 권장하지 않는다. */
.hello {
  color: bisque !important;
}

/* ------------------------------------------------------------------ */

/* 

전체 선택자 : 0점
* {

}

태그 선택자 : 1점
div {

}

.클래스 : 10점
.hello {

}

#id : 100점
#hello {
  
}


*/

